@media only screen 
	{ html
			{   	min-height: 100%;
				background: #E0E4E6; }
	}

.ExternalClass .not-for-outlook, [owa] .not-for-outlook { display:none; } 	

/* Layout */
table.body 			{ 	background: #E0E4E6;
			 	 	height: 100%;
			 	 	width: 100%; }
			  
table.body p		{	line-height: 1.5em;
					color: #3F4144;
					margin-bottom: 1.5em;
					Margin-bottom: 1.5em;}
			  
table.container 		{ 	width: 680px;
					background-color: #ffffff;	}
					
table.spacer td		{	padding-left: 45px;
					padding-right: 45px}
table.nav th.columns	{	padding: 15px;}
					
table th.columns, 
table td.columns		{	padding-bottom: 0px;}
					
td.large-12,
th.large-12 		{ 	width: 590px;
			  		padding-left: 45px;
			  		padding-right: 45px; }
			  		
td.large-6,
th.large-6 			{ 	width: 286px;
			  		padding-left: 15px;
			  		padding-right: 15px; }

td.large-6.first,
th.large-6.first 		{ 	padding-left: 45px; }

td.large-6.last,
th.large-6.last 		{ 	padding-right: 45px; }

td.large-3,
th.large-3 			{ 	width: 128px;
			  		padding-left: 15px;
			  		padding-right: 15px; }

td.large-3.first,
th.large-3.first 		{ 	padding-left: 45px; }

td.large-3.last,
th.large-3.last 		{ 	padding-right: 45px; }
			  
th.inside, td.inside
				{	padding: 90px 0 0 45px !important;}

table.banner th 		{	padding-top: 30%;
					padding-left: 35px; }
table.card th		{	padding-top: 10%;
					padding-bottom: 5%; }			

table.action-bar 		{ 	background-color: #3F4144; }
table.action-bar p	{	font-size: 0.8em;
					color: #C8CCCF;
					line-height: 1em;
					margin-bottom: 0px; }
table.action-bar a	{	text-decoration: none; 
					color: #C8CCCF;
					border-bottom: 1px solid #C8CCCF;}
table.action-bar th	{	padding: 5px 10px;}
table.action-bar th.last p	
				{	text-align: right;}
				
table.highlight-card th.large-12.last
				{	padding-right: 0px;}
				
table.highlight-card th.large-12.first
				{	padding-left: 0px;}
				
table.highlight th	{	background: #ffffff; }
table.highlight th.left	{	padding: 10px 120px 10px 35px;}
table.highlight th.right{	padding: 10px 36px 10px 120px;} 
					
table.infobox		{	background: #F7F7F7; }
table.infobox th		{	padding: 35px;}

table.icon-grid th	{	padding: 10px;}
				  	
table.hr 	{ width: 100%; }
table.hr th	{ height: 0;
		  max-width: 590px;
		  border-top: 0;
		  border-right: 0;
		  border-bottom: 1px solid #0a0a0a;
		  border-left: 0;
		  margin: 45px auto;
		  Margin: 20px auto;
		  clear: both; }
		  
table.travel-expert th	{	padding: 15px 35px 0;}
table.reverse		{	background: #363636; }
table.travel-expert 	{	border: 10px solid #363636; }

table.fun-fact		{	background-color: #d4f5dd; }
table.fun-fact th 	{	padding: 20px; }


/* Typography */
th.menu-item		{	font-size: 11px;
					color: #C8CCCF;
					line-height: 1em;
					margin-bottom: 0px; 
					text-transform: uppercase;
					text-align: center;
					letter-spacing: 3px}
table.nav th.menu-item a
				{	text-decoration: none; 
					color: #3F4144;
					margin: 0 30px 0 5px;	}
table.nav th.menu-item	{	padding: 15px 5px;}
table.nav th.menu-item.last 	
				{	text-align: right;}

table.nav ul		{	display: inline;}

th.menu-item img 		{	clear: none;
					margin-bottom: 0;
					display: inline-block;
					position: relative;
					top: 6px; }

h1, h2, h3			{	font-family: 'Playfair Display', Georgia, serif;
					font-weight: 700; 
					-webkit-hyphenate-limit-before: 12;
					hyphens: none;
					}

.kicker			{	font-family: Helvetica, Arial, sans-serif;
					text-transform: uppercase;
					letter-spacing: 0.25em;	
					font-weight: 500;	}

.banner h3.kicker		{	font-size: 18px;
					text-align: center;
					color: #ffffff;	}
					
.travel-expert h3		{	margin-bottom: 0;
					Margin-bottom: 0; }
					
h4.kicker			{	font-weight: 700}
					
.highlight h3.kicker	{	font-size: 14px;
					color: #C8CCCF; }

table.highlight-card.left
				{	text-align: left; }
table.highlight-card.right
				{	text-align: right; }				
					
table.border		{	padding: 20px;}					

table .underscore		{	border-bottom: 2px solid #58DD7D;}
table a.underscore	{	color: #ffffff !important;
					text-decoration: none; }

h1				{	font-size: 50px;	line-height: 1.3em; margin-bottom: 1.3em; Margin-bottom: 1.3em;	}
h2				{	font-size: 30px; line-height: 1.3em; margin-bottom: 1.3em; Margin-bottom: 1.3em;	}
h3				{	font-size: 21px; line-height: 1.3em; margin-bottom: 1.3em; Margin-bottom: 1.3em; clear: both;	}
h4				{	font-size: 12px; line-height: 1.3em; margin-bottom: 1.3em; Margin-bottom: 1.3em; clear: both;	}

table.double-article h2	{	font-size: 21px;}
table.double-article h3	{	font-size: 12px;}

table.banner th,
table.card th,
table.banner p,
table.card p		{	color: #ffffff;}
				
table.footer		{	background-color: #ecedee;}

table.footer p		{	color: #92969C;
					margin-left: 15px;
					Margin-left: 15px;
					margin-right: 15px;
					Margin-right: 15px; }

p.emphasis			{	font-weight: 700;
					color: #3F4144; }

a				{	color: inherit;
					text-decoration: underline; }
table.row p.terms		{	font-size: 14px;
					line-height: 1.45em;
					color: #92969C; }

p.caption			{	margin-bottom: 0px !important;
					Margin-bottom: 0px !important; }
					
table p.last		{	margin-bottom: 0px;
					Margin-bottom: 0px;}
					
table.reverse p,
table.reverse h1,
table.reverse h2,
table.reverse h3		{	color: #ffffff; }

.fade				{	color: #92969C;}

a.trustpilot		{	text-decoration: underline;
					color: #58DD7D; }
					
/* Images */

img 				{	margin-bottom: 1.5em;
					Margin-bottom: 1.5em; }

img .icon			{	margin: 10px auto;
					Margin: 10px auto; }

img .float-right		{	clear:right;}

img .logo			{	margin: 30px auto;
					Margin: 30px auto; }

img.small_card		{	margin-bottom: 0.75em;
					Margin-bottom: 0.75em; }	

img.infobox		 	{	position: relative;
					top: 15px;
					left: 35px;
					margin: 0;
					Margin: 0; }	
img.portrait		{	}	
					
/* Buttons */				
table.button
		 		{ 	width: auto;
					margin: 0 0 16px 0;
					Margin: 0 0 16px 0; }
table.button table td
		 		{ 	text-align: left;
					color: #ffffff;
					background: #59DD7D;
					border: 2px solid #59DD7D; }
		  
table.button table td a
		 		{ 	font-family: Helvetica, Arial, sans-serif;
			 		text-transform: uppercase;
			 		letter-spacing: 0.25em;
					font-size: 15px;
					font-weight: bold;
					color: #ffffff;
					text-decoration: none;
					display: inline-block;
					padding: 17px;
					border: 0 solid #59DD7D;
					border-radius: 3px; }

table.button.radius table td 		
				{ 	border-radius: 4px;
					border: 1px; }

table.button.rounded table td 		
				{ 	border-radius: 500px;
					border: 1px; }

table.button:hover table tr td a,
table.button:active table tr td a,
table.button table tr td a:visited,
table.button.tiny:hover table tr td a,
table.button.tiny:active table tr td a,
table.button.tiny table tr td a:visited,
table.button.small:hover table tr td a,
table.button.small:active table tr td a,
table.button.small table tr td a:visited,
table.button.large:hover table tr td a,
table.button.large:active table tr td a,
table.button.large table tr td a:visited
		 		{ 	color: #ffffff; }

table.button.tiny table td,
table.button.tiny table a 
				{ 	padding: 4px 8px 4px 8px; }

table.button.tiny table a
		 		{ 	font-size: 10px;
			 		font-weight: normal; }

table.button.small table td,
table.button.small table a
		 		{ 	padding: 6px 20px 6px 20px;
			 		font-size: 11px; }

table.button.large table a
		 		{ 	padding: 17px 40px 17px 40px;
			 		font-size: 15px; }

table.button.expand,
table.button.expanded
		 		{ 	width: 100% !important; }
table.button.expand table,
table.button.expanded table 	
				{   	width: 100%; }
table.button.expand table a,
table.button.expanded table a 		
				{ 	text-align: center;
				      width: 100%;
				      padding-left: 0;
				      padding-right: 0; }

table.button.expand center,
table.button.expanded center
		 		{ 	min-width: 0; }

table.button:hover table td,
table.button:visited table td,
table.button:active table td
		 		{ 	background: #287b3e;
			 		color: #ffffff; }

table.button:hover table a,
table.button:visited table a,
table.button:active table a
		 		{ 	border: 0 solid #287b3e; }

					
table.buttons.outline table td 
 				{ 	background: #ffffff;
					color: #3F4144;
					border: 1px solid #3F4144; }

table.buttons.outline table a
		 		{ 	color: #3F4144;
			 		border: 1px solid #777777;  }

table.buttons.outline:hover table td
		 		{ 	background: #919191;
			 		color: #ffffff; }

table.buttons.outline:hover table a
		 		{ 	border: 1px solid #919191; }

table.buttons.outline:hover table td a
		 		{ 	color: #ffffff; }

table.buttons.outline:active table td a
		 		{ 	color: #ffffff; }

table.buttons.outline table td a:visited
		 		{ 	color: #ffffff; }


@media only screen and (max-width:596px){
  .hide-for-large { 
    display: block !important;
  }
}

@media only screen and (max-width: 596px) {
	
	table.body .container 		
	  	{ width: 100% !important; }	
	table.body img.logo
	  	{ width: 190px !important;
		  height: 34px !important;
		  margin-top: 15px !important;}
		  
	table.body td.banner
		{ 	background-size:120% !important;		}
	table.body .banner h3.kicker		
		{	font-size: 1rem !important;	}
	
	
	
	table.body img.icon
		{	height: 50% !important;
			width: 50% !important;
			margin-bottom: 0px !important; }				
	
	table.body h1,
	table.body h2,
	table.body h3,
	table.body h4
		{	margin-bottom: 15px !important;}
		
	table.body .spacer td		
		{	padding-left: 15px !important;
			padding-right: 15px !important;}
			
	table.body double-article h2	{	font-size: 18px !important;}
	table.body double-article h3	{	font-size: 10px !important;}
		
}